<strong>Olá, {{ student }}</strong>
<p> Sua pergunta foi respondida em GymPoint:</p>
<p>
  <strong>Pergunta: </strong> {{question }} <br />
  <strong>Resposta do Instrutor: </strong> {{answer }} <br />
  <br />
  <strong>Estamos aqui para ajudar!</strong> <br />
  <br />
  <small>
    Qualquer dúvida entre em contato!
  </small>
</p>
